
.wrapper{
    display: grid;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    font-size: 150%;

    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
    'nav nav nav'  
    'header header header'
    'links bio bio'
    'footer footer footer';
}
.index{
    text-align: center;
    background-color:black;
}
.header{
    background-color:aqua;
    padding: 20px;
    grid-area: header;
    font-family: Georgia;
}
.links{
    background-color: yellow;
    padding: 50px;
    grid-area: links;
    font-family: Georgia;
}
.bio{
    background-color: white;
    padding: 20px;
    grid-area: bio;
    font-family: Georgia;
}
.footer{
    background-color:aqua;
    padding: 20px;
    grid-area: footer;
    font-family: Georgia;
}
.nav{
    background-color: purple;
    padding: 10px;
    grid-area: nav;
    font-family: Georgia
}
.wrapper2{
    display: grid;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    font-size: 150%;

    grid-template-rows: 320px 320px 320px;
    grid-template-areas:
    'nav nav nav' 
    'header2 header2 header2'
    'project1 project2 project3'
    'project1 project2 project3'
    'footer2 footer2 footer2';
}
.header2{
    background-color:aqua;
    padding: 20px;
    grid-area: header2;
    font-family: Georgia;
}
.project1{
    background-color:yellow;
    padding: 50px;
    grid-area: project1;
    font-family: Georgia;
}
.project2{
    background-color:yellow;
    padding: 50px;
    grid-area: project2;
    font-family: Georgia;
}
.project3{
    background-color:yellow;
    padding: 50px;
    grid-area: project3;
    font-family: Georgia;
}
.footer2{
    background-color:aqua;
    padding: 20px;
    grid-area: footer2;
    font-family: Georgia;
}
.gitHubLink{
    text-decoration: none;
}
