.topOfPage{
    display: grid;
    background-color: gray;
    text-align: left;
    border-radius: 0px;
    font-size: 200%;
    grid-gap: 10px;

    grid-template-columns: 100px 100px 100px;
    grid-template-areas:
    'links links2 em'
    ;
}
.projectToHome{
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projectToProject{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.homeToProject{
    text-decoration: none;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.homeToHome{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.projectsLinkHomepage{
    grid-area: links2;
    background-color:gray;
    padding: 30px;
}
.homeLinksHomepage{
    grid-area: links;
    background-color: gray;
    padding: 30px;
}
.wrapper{
    display: grid;
    background-color: black;
    text-align: center;
    border-radius: 20px;
    font-size: 150%;

    grid-template-rows: 320px 320px 320px;
    grid-template-areas:
    'header header header'
    'bio bio bio'
    'vid biopic biopic'
    'footer footer footer';
}
.empty{
    background-color:aqua;
    grid-area: em;
}
.index{
    text-align: center;
    background-color:black;
}
.header{
    background-color:aqua;
    padding: 20px;
    grid-area: header;
    font-family: Georgia;
}
.bioPicture{
    background-color:white;
    grid-area: biopic;
}
.bio{
    background-color: white;
    padding: 20px;
    grid-area: bio;
    font-family: Georgia;
}
.video{
    background-color:white;
    grid-area: vid;
}
.footer{
    background-color:aqua;
    padding: 20px;
    grid-area: footer;
    font-family: Georgia;
}
.nav{
    background-color: aqua;
    padding: 20px;
    grid-area: nav;
    font-family: Georgia;
    text-decoration: none;
}
.wrapper2{
    display: grid;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    font-size: 150%;

    grid-template-rows: 320px 320px 320px;
    grid-template-areas: 
    'header2 header2 header2'
    'project1 project2 project3'
    'project1 project2 project3'
    'footer2 footer2 footer2';
}
.pacMenFactoryDemo{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
}
.pacMenFactoryDemo:hover{
    color:lightblue;
}
.eyeMovementExerciseDemo{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
}
.eyeMovementExerciseDemo:hover{
    color:lightblue;
}
.realTimeBusTrackerDemo{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
}
.realTimeBusTrackerDemo:hover{
    color:lightblue;
}
.pacMenFactoryLinkRep{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
}
.pacMenFactoryLinkRep:hover{
    color:lightblue;
}
.eyeMovementExerciseLinkRep{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
}
.eyeMovementExerciseLinkRep:hover{
    color:lightblue;
}
.realTimeBusTrackerLinkRep{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
}
.realTimeBusTrackerLinkRep:hover{
    color:lightblue;
}
.empty{
    background-color:aqua;
    grid-area: em;
}
.header2{
    background-color:aqua;
    padding: 20px;
    grid-area: header2;
    font-family: Georgia;
}
.project1{
    background-color:yellow;
    padding: 50px;
    grid-area: project1;
    font-family: Georgia;
    text-decoration: none;
}
.project2{
    background-color:yellow;
    padding: 50px;
    grid-area: project2;
    font-family: Georgia;
    text-decoration: none;
}
.project3{
    background-color:yellow;
    padding: 50px;
    grid-area: project3;
    font-family: Georgia;
    text-decoration: none;
}
.footer2{
    background-color:aqua;
    padding: 20px;
    grid-area: footer2;
    font-family: Georgia;
}
.gitHubLink{
    text-decoration: none;
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
